<h1><%= link_to @source.name, @source.url %></h1>

<h2>Stories</h2>

<table>
  <tr>
    <th>Title</th>
    <th></th>
  </tr>
 
<% @stories.each do |story| %>
  <tr>
    <td><%= link_to story.title, story %></td>
    <td><%= link_to 'link', story.url %></td>
  </tr>
<% end %>
</table>
 
<br />

<%= link_to 'Home', :controller => 'home', :action => 'index' %>
